.container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.productContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.category {
  width: 100%;
}
@media (min-width: 576px) {
  .productContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .productContainer {
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
  }
  .category {
    width: 30%;
  }
}
@media (min-width: 1100px) {
  .productContainer {
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
  }
}
