.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px dotted #f97316;
  border-radius: 20px;
}
.cartItem img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.cartItem p {
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
}
.cartItem button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #f97316;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}
.cartItem button .icons {
  width: 15px;
  height: 15px;
}
.dNone {
  display: none !important;
}
@media (min-width: 576px) {
  .cartItem {
    flex-direction: row;
  }
}

