.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9fafc;
  background-color: #f97316;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
}
.linkButton {
  background-color: #f9fafc;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 36px;
}